@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .pic-with-caption {
   float: right;
   margin-left: 1em;
    width: 16rem;
  }

  .ash-text, .move-text {
    opacity: 0;
  }
}

@media (max-width: 768px) {


  .img-box .img-caption {
    /* margin-top: 11em; */
    padding-top: 50%;
  }

  .img-box .img-info {
    margin-bottom: 4em;
  }

  .img-box img {
    padding-left: 40px;
  }

  .intro-img1 {
    max-width: 35%;
    /* margin-bottom: 20px; */
  }

  .intro-img2 {
    max-width: 65%;
  }

  .intro-text {
    max-width: 50%;
  }


  .pic-with-caption {
    margin-right: 2em;
  }

  .iteration-img {
    max-width: 15%;
    margin-bottom: 0;
  }

  .iteration-img-2 {
    max-width: 33%;
  }

  .ideation-img-pos {
    max-width: 90%;
  }

  .ideation-img2 {
    margin-top: 1em;
  }

  .ash-text, .move-text {
    opacity: 1;
  }
}




body,
.card {
  background: #ffffff;
}


.navbar-nav {
  padding: 30px;
  font-size: 1.6vw;
  font-family: "DIN Alternate", "Libre Franklin ExtraBold";
}

.title {
  font-size: 1.4vw;
  margin-bottom: 7%;
  margin-top: -15%;
}

.based {
  font-size: 0.8vw;
  margin-top: -5%;
}


img {
  opacity: 0.9;
}

#mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardsWrapper {
  justify-content: space-between;
  width: 40%;
  margin-top: 10%;
}

.card {
  border: none;
  perspective: 500px;
  position: relative;
  width: 65%;
  display: block;
  margin: 0 auto 0 -10%;
}

.card.second {
  border: none;
  perspective: 500px;
  position: relative;
  width: 65%;
  display: block;
  margin: 20% -20% 0 auto;

}

.project-intro img {
  max-width: 100%;
  max-height: 100%;
  transform-style: preserve-3d;
}

/* .intro-xyz img {
  max-width: 100%;
  max-height: 100%;
} */

.ash-text {
  position: absolute;
  top: -5%;
  z-index: 99;
  left: 0;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
  /* opacity: 0; */
  padding-bottom: 20%;

}

.xyz-text {
  position: absolute;
  top: -18%;

}

.move-text {
  position: absolute;
  top: -15%;
  z-index: 99;
  left: -95%;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 800;
  font-size: 3vw;
  /* opacity: 0; */
  /* padding: 20%; */
  padding-right: 60%;
  padding-bottom: 20%;
  padding-top: 30%;
}



.ash-text:hover,
.move-text:hover {
  cursor: url('arrow.png'), auto;
  opacity: 1;
  transition: 1.5s;
}

.ash-text .ash-title {
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 88%;
  width: 115%;
}

.ash-title {
  padding-bottom: 8%;
}

.ash-blurb {
  font-weight: 400;
  width: 120%;
  margin-top: -35%;
  margin-left: 88%;
  font-size: 1vw;
}

.xyz-blurb {
  font-weight: 400;
  width: 85%;
  /* margin-top: 30%;
  margin-left: 50%; */
  font-size: 1vw;
}


/* .move-text p {
  margin-top: 45%;
  margin-bottom: 20%;
} */


.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(255, 255, 255, 1);
} 

/* 
@media (max-width: 575px) {
  .navbar-nav {
    padding-left: 0px;
  }
} */

.footer {

  height: 200px;
  width: 400px;
}

.sidenav {
  font-family: "DIN Alternate";
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: -1;
  top: 89%;
  left: 3%;
  overflow-x: hidden;
  padding-top: 30px;
}

/* 
#header {
  width: 100%;
} */

/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */
/* ASH.HTML */

/* .white-sect p, .alternate-sect p, .white-sect li, .alternate-sect li, .white-sect span, .alternate-sect span, .white-sect a, .alternate-sect a {
      font-family: 'Europa-Regular','Roboto', Sans-Serif;
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      color: #494949;
    }  */


.container {
  font-family: 'Nunito', 'Europa-Regular', 'Roboto', Sans-Serif;
  font-weight: 300;
  font-size: 1rem;
  /* color: #494949; */
  color: #1a1a1a;
  background-color: #ffffff;
  /* background-size: 90%; */
  /* padding: 50px; */
  /* width: 80vw; */
  /* margin-left: 0;
      margin-right: 0; */
  /* margin-left: calc(-50vw + 50%); */
  /* margin-right: calc(-50vw + 50%); */

  /* margin-left: 100px;

      padding-top: 80px;
      padding-bottom: 100px; */
}



/* hr {
  color: #2963FF;
  border-style: inset; 
  border-width: 1px;
  margin-top: 3rem;
  width: 70%;
} */



span.img-caption {
  font-family: 'Nunito', sans-serif;
  display: block;
  padding-top: 80%;
  /* font-size: 1vw; */
  font-weight: 700;
  /* padding: 20px 0px 0px 0px; */
}

span.img-info {
  display: block;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  /* padding: 0 20px; */
}

.hero-img {
  width: 25rem;
}

.port-heading-text h1,
h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.port-heading-text h1 {
  font-size: 3.5rem;
}

.port-heading-text h3 {
  font-size: 1.5rem;
  font-style: italic;
}

.port-heading-text p {
  font-family: "Nunito", "Europa-Regular", sans-serif;
  font-size: 1rem;
  /* font-weight: 300; */
  font-style: italic;
  text-align: center;
}

.port-intro h5 {
  font-family: "DIN Alternate", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 3rem;
}

.intro-text-size p {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  margin-bottom: auto;
}

.img-fluid {
  /* width: 18rem; */
  /* margin-top: 1em; */
}

.portfolio-title {
  font-family: "DIN Alternate", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  /* font-style: italic; */
  color: #2963FF;
  font-size: 1.2rem;
  margin-top: 3rem;
  /* color: white; */
  /* padding: 10px 20px; */
  /* margin-left: 20px; */
  /* margin-top: 60px; */
}


.img-box img {
  float: left;
  width: 60%;
  height: auto;
  object-fit: cover;
  margin-left: 2em;
  margin-right: 3em;
}

/* .img-caption {
  margin-top: 9em;

} */

.pic-with-caption {
  /* width: 16em; */
  /* float: right; */
  /* margin-left: 1em; */
  margin-bottom: 1em;
}


.iteration-img-pos {
  display: flex;
  justify-content: space-evenly;
  
  
}

.iteration-img {
  padding-left: 0px;
  padding-right: 0;
  display: flex;

}

.ideation-bus {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ideation-small-heading {
  font-size: 1rem;
  color: #969696;
}

.solution-heading {
  font-weight: 700;
}
/* 
.iteration-img-2 {
  float: right;
  width: 200%;
  margin-left: 2em;
} */
/* .iteration-img img{
  width: 108px;
  height: 258px;
  object-fit: cover;
} */

/* .pic-with-caption span {
  width: 16em;
  float: right;
  margin-left: 1em;
} */


/* .span-position {
  margin-top: 10rem;
  /* padding-top: 20px; */


/* .img1 {
  flex: 1.22;
}

.img2 {
  flex: 1.23;
}

.img3 {
  flex: 1.5;
} */
/* .alternate-sect {
	background-color: #fafafa;
	background-size: 100%;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	/* min-height: 100vh; */
/*} 

.white-sect {
	
	background-color: #ffffff;
	background-size: 100%;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	} 
*/
/* utilities */

.text-quote {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.text-quote-light {
  font-family: 'Nunito', 'Europa-BoldItalic';
  font-size: 1rem;
  font-style: italic;
  /* font-weight: 600; */
  text-align: center;
}

.center-children-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ideation-bus-heading {
  /* font-family: "DIN Alternate", sans-serif; */
  margin-top: 80px;
  font-weight: 400;
}

.iteration-heading {
  float: left;
  font-size: 16px;
  color: #969696;
}

.solution-num {
  font-size: 3.2rem;
  color: #D0D0D0;

}


/* .tools {
  margin-top: 18px;
} */


.back-button {
  color: #969696;
}

.back-button a {
  text-decoration: none;
  color: #969696;
  font-family: 'DIN Alternate', monospace;
}

.back-button a:hover {
  color: #000;
  font-family: 'DIN Alternate', monospace;
}

.row {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  /* padding-top: 20px; */
}

.center-text {
  /*padding-top: 20px;*/
  display: inline-block;
  width: 100%;
}

.indent-text {
  padding: 0 60px;

}

/* 
h5 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin-top: 60px;
} */

/* 
.white-sect, .alternate-sect {
  padding-top: 80px;
  padding-bottom: 100px;
} */


/* .container{ */
/* padding-bottom: 40px; */
/* } */


/* NEW CODE */


figcaption {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.img-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

span.xyz-caption {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
}

.blank-space {
  top: 0;
  left: 0;
  height: 120px;
}

.info-page {
  display: block
}

.info-text {
  /* text-align:center; */
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 1.5rem;
  position: relative;
  top: 30%;
  left: 0;
  /* width: 50%;   */

}

.info-text a {
  color: #494949;
}

.cv-link {
  padding: 5px 0;
  border: 1px solid black;
  text-align: center;
  font-size: 1vw;
  width: 25%;
  left: 38%;
}

.cv-link a {
  text-decoration: none;

}

.cv-link a:hover {
  color: white;
}


.cv-link:hover {
  background-color: #494949;
}