@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    
    }

    body, .card {
        background: #ffffff;
    }
  

    .navbar-nav{
        padding: 30px;
        font-size: 1.4em;
        font-family:   "DIN Alternate", "Libre Franklin ExtraBold"; 
    }

    .title {
        font-size: 1.2em;
        margin-bottom: 2%;
    }
    .based {
        font-size: 0.8em;  
    }
 

  img {
    opacity: 0.9;
  }
    #mainWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #cardsWrapper{
        justify-content: space-between;
        width: 40%;
        margin-top: 10%;
      }
      
      .card{
        border: none;
        perspective: 500px;
        position: relative;
        width: 65%;
        display: block;
        margin: 0 auto 0 -10%;
      }

      .card.second{
        border: none;
        perspective: 500px;
        position: relative;
        width: 65%;
        display: block;
        margin: 20% -20% 0 auto;
    
      }
      
      .project-intro img {
        max-width: 100%;
        max-height: 100%;
        transform-style: preserve-3d;
      }
      
      .ash-text {
        position: absolute;
        top: -5%;
        z-index: 99;
        left: 0;
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 800;
        font-size: 2.5vw;
        opacity: 0;
        
      }

      .move-text{
        position: absolute;
        top: -5%;
        z-index: 99;
        left: -28%;
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 800;
        font-size: 3vw;
        opacity: 0;
      }


      
      .ash-text:hover, .move-text:hover {
          cursor: url('arrow.png'), auto;
          opacity: 1;
          transition: 1.5s;
      }
 
      .ash-text .ash-title {
        margin-top: 30%; 
        margin-bottom: 30%; 
        margin-left: 88%;
        width: 115%;
      }

      .ash-blurb{
        font-weight: 400;
        width: 120%;
        margin-top: -25%;
        margin-left: 88%;
        font-size: 1vw;
      }


      .move-text p{
        margin-top: 45%; 
        margin-bottom: 20%; 
      }


    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,1);
        border-color: rgba(255,255,255,1);
    }


    @media (max-width: 575px) {
		.navbar-nav{
            padding-left: 0px;
        }
    }

    .footer {
       
        height: 200px;
        width: 400px;
    }

    .sidenav {
        font-family: "DIN Alternate";
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: -1;
        top: 89%;
        left: 3%;
        overflow-x: hidden;
        padding-top: 20px;    
    }

    /* ASH.HTML */

    .white-sect p, .alternate-sect p, .white-sect li, .alternate-sect li, .white-sect span, .alternate-sect span, .white-sect a, .alternate-sect a {
      font-family: 'Europa-Regular','Roboto', Sans-Serif;
      text-align: justify;
      font-weight: 400;
      font-size: 14px;
      color: #494949;
    } 

    span.img-caption{
      font-family: 'Roboto Mono', monospace;
      display: block;
      font-size: 16px;
      font-weight: 500;
      padding: 40px 0px 10px 0px;
    }
    
    span.img-info {
      display: block;
      text-align: center;
      padding: 0 20px;
    }


.ash-heading-text h1  {
	font-family: "Europa-BoldItalic", sans-serif;
	font-size: 60px;
}

.ash-heading-text h3  {
	font-family: "Europa-BoldItalic", sans-serif;
	font-size: 30px;
}

.ash-heading-text p {
	font-family: "Europa-Regular", sans-serif;
	padding-top: 20px;
	font-size: 18px;
	text-align: center;
	width: 75%;
}

.ash-intro {
	line-height: 5px;
}

.ash-intro h5 {
	font-family: "Roboto Mono";
	font-weight: 700;
	font-size: 14px;
	text-align: left;
	padding: 10px 0;
	
}

.portfolio-title h5 {
	font-family: "Roboto Mono";
	background-color: #2963FF;
	font-size: 16px;
	color: white;
	padding: 10px;
	

}

.alternate-sect {
	/*margin-top: 100px;*/
	background-color: #fafafa;
	background-size: 100%;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	/*padding-top: 100px;*/
	/* min-height: 100vh; */
}

.white-sect {
	
	background-color: #ffffff;
	background-size: 100%;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	
	/* min-height: 100vh; */
}

/* utilities */

.text-quote {
	font-family: 'Europa-BoldItalic';
	font-size: 20px;
	text-align: center;
}

.center-children-vertically {
	display: flex;
	flex-direction: column;
	justify-content	: center;
	height: 100%;
}

.ideation-bus-heading {
	margin-top: 80px;
	font-weight: 900;
}

.iteration-heading {
	float: left;
	font-size: 16px;
	color: #969696;
}

.solution-num {
	font-size: 60px;
	color: #D0D0D0;
	
}

.tools {
	margin-top: 18px;
}

.tools2 {
	margin-top: 10px;
}

.back-button {
	color: #969696; 
}

.back-button a{
	text-decoration: none;
	color: #969696; 
	font-family: 'Roboto Mono', monospace;
}

.back-button a:hover {
	color: #000;
	font-family: 'Roboto Mono', monospace;
}

.row {
	text-align: center;
	width: 90%;
	margin: auto;
}

.center-text {
	/*padding-top: 20px;*/
	display: inline-block;
	width: 100%;
}

.indent-text{
	padding: 0 60px;
	
}

h5 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
	margin-top: 50px;
}

.white-sect, .alternate-sect {
	/* background-color: #fff; */
  padding-top: 80px;
  padding-bottom: 100px;
}
/*
.container{
	padding-bottom: 100px;
} */